{% block courses %}
<div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 text-primary fw-bold">zoom</h1>
        <p class="col-md-8 fs-4">
            <b>Trải nghiệm học tiếng Anh hoàn toàn mới, từ ngày 01/10/2021.</b>
            <br /> IELTS Academic: 19h15 - 20h30 các ngày Thứ ba & Thứ bảy.
            <br /> Tăng cường (Học tích hợp): 19h15 - 20h các ngày Thứ hai & Thứ sáu.
        </p>
        <a href="https://zoom.us/j/4494650078?pwd=UDl5YXpFMi8yM3d5eDZzUS95aHpWQT09" target="_blank"
            class="btn btn-primary btn-lg">Vào phòng học</a>
    </div>
</div>

<div id="courses">
    <div class="col-12">
        <h3 class="heading text-center">Khóa học</h3>
        <div class="heading-underline"></div>
    </div>
    <div class="row align-items-md-stretch mb-4">
        <div class="col-md-3">
            <div class="h-100 p-5 text-white bg-danger border rounded-3">
                <h2>IELTS Academic</h2>
                <p>IELTS là một hệ thống bài kiểm tra khả năng sử dụng thành thạo tiếng Anh cả bốn kĩ
                    năng Nghe, Nói, Đọc, Viết, được điều hành bởi ba tổ chức ESOL của Đại học Cambridge (University
                    of Cambridge ESOL), Hội đồng Anh (British Council) và tổ chức giáo dục IDP của Úc, triển khai
                    từ năm 1989</p>
                <a class="btn btn-outline-light"
                    href="https://youtube.com/playlist?list=PLf3wHYF1azzBx6mZSTZq0ZoQD23V88i2B">Kho
                    video</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-100 p-5 bg-success text-white border rounded-3">
                <h2>Tiếng Anh Tăng cường</h2>
                <p>Tiếng Anh là ngôn ngữ thứ hai được học nhiều nhất và là ngôn ngữ chính thức của gần 60 quốc gia có
                    chủ quyền: Vương quốc Liên hiệp Anh và Bắc Ireland, Hoa Kỳ, Canada, Úc, Cộng hòa Ireland và New
                    Zealand, ở một số khu vực tại Caribe, châu Phi và Nam Á.</p>
                <a class="btn btn-outline-light"
                    href="https://youtube.com/playlist?list=PLf3wHYF1azzAQ_W5X3yC7o-9IzTRUXW8j">Kho
                    video</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-100 p-5 bg-info border rounded-3">
                <h2>Từ vựng Tiếng Anh Nâng cao</h2>
                <p>Từ vựng tiếng Anh Nâng cao, hỗ trợ tốt nhất cho các nội dung chuyên ngành. Sử dụng thành thạo từ vựng
                    giúp nâng cấp khả năng ngoại ngữ, thích nghi với xu hướng công dân toàn cầu, sẵn sàng làm chủ công
                    việc một cách hiệu quả nhất.</p>
                <a class="btn btn-outline-dark"
                    href="https://youtube.com/playlist?list=PLf3wHYF1azzDO_H2c6lecji_1xXOE39jr">Kho
                    video</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-100 p-5 bg-dark text-white border rounded-3">
                <h2>Tài liệu học tập các khóa</h2>
                <!-- <p>Khu vực dành cho các tài liệu học tập của ba lớp, cũng như tài liệu dành cho Kỳ thi Tốt nghiệp THPT -->
                <!-- Quốc gia, do Bộ Giáo dục và Đào tạo tổ chức hằng năm. Môn Tiếng Anh là một trong các môn Ngoại ngữ -->
                <!-- được tổ chức trong kỳ thi.</p> -->
                <!-- <button class="btn btn-outline-light" type="button">Truy cập</button> -->
                <ul>
                    <li><a href="https://youtu.be/_zYbClZMjjY"><b>Announcements on Blended Learning
                                (Applicable from Monday, 20th September 2021)</b></a></li>
                    <li><a href="{{ url_for('static', filename='docs/Cambridge IELTS 9.pdf') }}">Cambridge
                            IELTS 9</a></li>
                    <li><a href="{{ url_for('static', filename='docs/Cambridge-IELTS-10-Ebook.pdf') }}">Cambridge IELTS
                            10</a></li>
                    <li><a href="{{ url_for('static', filename='docs/Cambridge Academic Vocabulary in Use.pdf') }}">Cambridge
                            Academic Vocabulary In Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}